body {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: rgb(0, 189, 30);
  background-color: #fff;
}

.navbar-nav li a {
  color: #4885ed;
}

.navbar-nav li a:hover {
  color: rgb(0, 189, 30);
  background-color: #fff;
  text-decoration: none;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background: #4885ed;
  border: 1px solid white;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  background-color: rgb(112, 223, 1);
}

#login-buttons a, .accounts-dialog a {
  text-decoration: none;
}

nav navbar-nav:hover {
  background-color: white;
  color: color: rgb(0, 120, 19);
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item {
  display: inline-block;
  border: none;
  padding-top: 0;
}

.results {
  text-align: center;
}

.brand {
  color: rgb(112, 223, 1);
  text-align: center;
  font-size: 60px;
  letter-spacing: 3px;
  text-decoration: none;
  margin-bottom: 0;
}

.brand a:hover {
  color: rgb(112, 223, 1);
  text-decoration: none;
}

.brand a:focus {
  text-decoration: none;
}

.nav navbar-nav {
  background-color: #fff;
}

.nav navbar-nav:hover {
  background-color: #fff;
  text-decoration: none;
}
.navbar-default {
  background-color: white;
  border: none;
}

.copyright {
  text-align: center;
  width:100%;
  position:fixed;
  bottom: 0;
}

.green {
  color: rgb(112, 223, 1);
}

.yellow {
  color: #f4c20d;
}

.blue {
  color: #4885ed;
}

.youtube-red {
  color: #e52d27;
}

.reddit-blue {
  color: #24A0ED;
}

.khan-green {
  color: #9DB63B;
}

.coursera-blue {
  color: #3277b2;
}

.quora-red {
  color: #b92b27;
}

h3 a:hover {
  text-decoration: none;
  color: #ed2f28;
}

.btn-primary {
  background-color: #4885ed;
  border: none;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.btn-primary:hover {
  background-color: rgb(112, 223, 1);
  border-color: #fff;
}

.media-heading:hover {
  color: rgb(112, 223, 1);
}

a:-webkit-any-link {
  text-decoration: none;
}

.shelf {
  width: 178px;
  height: 30px;
  margin-right: 5px;
}
