body {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: rgb(0, 189, 30);
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background: rgb(0, 189, 30);
  border: 1px solid white;
}

#login-buttons a, .accounts-dialog a {
  text-decoration: none;
}

nav navbar-nav:hover {
  background-color: white;
  color: color: rgb(0, 120, 19);
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
}

.vid-list {
  display: inline;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item {
  background-color: #eee;
}

.brand {
  color: rgb(112, 223, 1);
  text-align: center;
  font-size: 60px;
  letter-spacing: 3px;
  text-decoration: none;
  margin-bottom: 0;
}

.copyright {
  text-align: center;
}

.green {
  color: rgb(112, 223, 1);
}

.yellow {
  color: #f4c20d;
}

.blue {
  color: #4885ed;
}
